@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tf {
  background-image: url("image (1).png");
  Height: calc(120vh);
  /* position: relative; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
}

.tf .TF {
  padding-top: 30vh;
  overflow-x: hidden;
  /* Note: backdrop-filter has minimal browser support */
}

.tf .TF .TF-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 60%;
  padding: 25px;
  background: rgba(154, 178, 112, 0.68);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  text-align: center;
}

@media (max-width: 567.95px) {
  .tf .TF .TF-text {
    width: 75%;
  }
}

.tf .TF .TF-text h1 {
  font-family: Abril Fatface;
  font-size: 5rem;
  line-height: 5rem;
  color: #424A63;
  overflow-y: hidden;
}

@media (max-width: 567.95px) {
  .tf .TF .TF-text h1 {
    font-size: 4rem;
  }
}

.tf .TF .ITS-text {
  margin-top: 20px;
  padding: 5px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(253, 231, 182, 0.84);
  border-radius: 15px;
  overflow-x: hidden;
}

.tf .TF .ITS-text h2 {
  padding: 0.5em;
  font-family: Abril Fatface;
  font-size: 1.4rem;
  text-align: center;
  overflow-x: hidden;
}

.EP {
  background-image: url("ep.png");
  height: calc(130vh);
  overflow-y: hidden;
  background-position: center;
  background-size: cover;
}

.EP .ep-title {
  padding-top: 6em;
}

.EP h1 {
  text-align: center;
  font-family: Abril Fatface;
  font-size: 3rem;
}

.EP .Ep-text {
  background: rgba(253, 231, 182, 0.63);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  /* position: absolute; */
  /* padding-top: 2em; */
  /* -webkit-box-align: center; */
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 20%;
  padding: 2em;
  font-weight: 700;
  text-align: justify;
  margin-top: 4em;
}

@media (min-width: 768px) {
  .EP .Ep-text p {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    font-family: "Zilla Slab", serif;
  }
}

@media (max-width: 568.75px) {
  .EP .Ep-text p {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    font-family: "Zilla Slab", serif;
  }
}

.bidmin {
  background-color: #C5D8AB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .bidmin .five {
    margin-top: 1.5%;
    margin-left: 10%;
    font-family: Abril Fatface;
    font-size: 8rem;
    line-height: 12rem;
  }
}

@media (max-width: 567.95px) {
  .bidmin .five {
    margin-top: 1.2%;
    margin-left: 10%;
    font-family: Abril Fatface;
    font-size: 6rem;
    line-height: 8rem;
  }
}

@media (min-width: 768px) {
  .bidmin .five .bidmin-text {
    margin-top: -80%;
    margin-left: 50%;
    font-size: 3.5rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .bidmin .five .bidmin-text {
    margin-top: -160%;
    margin-left: 65%;
    font-size: 1.6rem;
    line-height: 7rem;
  }
}

@media (min-width: 768px) {
  .bidmin .five .min {
    margin-top: -52%;
    margin-left: 145%;
    font-size: 3.5rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .bidmin .five .min {
    margin-top: -132%;
    margin-left: 172%;
    font-size: 1.6rem;
    line-height: 7rem;
  }
}

@media (min-width: 768px) {
  .bidmin .five .di {
    margin-top: -16%;
    margin-left: 50%;
    font-size: 2.3rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 567.95px) {
  .bidmin .five .di {
    margin-top: -71%;
    margin-left: 64%;
    font-size: 1.2rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) {
  .bidmin .five .tff {
    margin-top: -35%;
    margin-left: 75%;
    font-size: 4rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .bidmin .five .tff {
    margin-top: -91.5%;
    margin-left: 90%;
    font-size: 1.6rem;
    line-height: 7rem;
  }
}

@media (min-width: 768px) {
  .bidmin .five .fis {
    margin-top: -53%;
    margin-left: 185%;
    font-size: 4rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .bidmin .five .fis {
    margin-top: -130%;
    margin-left: 198%;
    font-size: 1.6rem;
    line-height: 7rem;
  }
}

@media (min-width: 768px) {
  .bidmin .five .its {
    margin-top: -53%;
    margin-left: 280%;
    font-size: 4rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .bidmin .five .its {
    margin-top: -134%;
    margin-left: 288%;
    font-size: 1.6rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .bidmin .five .vektor {
    position: absolute;
    top: 5%;
    margin-left: 220%;
    width: 15%;
  }
}

.bidmin .five .vektor img {
  width: 100%;
  position: absolute;
  right: 10%;
}

@media (min-width: 768px) {
  .bidmin .instrument {
    margin-top: 18%;
    margin-left: -10%;
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: center;
    width: 47vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 567.95px) {
  .bidmin .instrument {
    margin-top: 31%;
    margin-left: -15%;
    font-family: Zilla Slab;
    font-size: 0.75rem;
    text-align: left;
    text-indent: 0.2rem;
    width: 62vw;
    height: 5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .bidmin .energi {
    margin-top: 22.5%;
    margin-left: -47.5%;
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: center;
    width: 73vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 567.95px) {
  .bidmin .energi {
    margin-top: 37%;
    margin-left: -62%;
    font-family: Zilla Slab;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: left;
    text-indent: 0.2rem;
    width: 81vw;
    height: 5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .bidmin .bahan {
    margin-top: 27%;
    margin-left: -73.8%;
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: center;
    width: 38vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 567.95px) {
  .bidmin .bahan {
    margin-top: 43%;
    margin-left: -81%;
    font-family: Zilla Slab;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: left;
    text-indent: 0.2rem;
    width: 42vw;
    height: 5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .bidmin .vibrastik {
    margin-top: 31.5%;
    margin-left: -38.4%;
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: center;
    width: 42vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 567.95px) {
  .bidmin .vibrastik {
    margin-top: 49%;
    margin-left: -42%;
    font-family: Zilla Slab;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: left;
    text-indent: 0.2rem;
    width: 47vw;
    height: 5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.bidmin .foton {
  margin-top: 36%;
  margin-left: -42.4%;
  font-family: Zilla Slab;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10%;
  width: 41vw;
  height: 3.5vw;
  background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
  background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
  border: 1px solid #424A63;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 567.95px) {
  .bidmin .foton {
    margin-top: 55%;
    margin-left: -47%;
    font-family: Zilla Slab;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: left;
    text-indent: 0.2rem;
    width: 45vw;
    height: 5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.lab {
  background: #9AB270;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .lab .seven {
    margin-top: 0%;
    margin-left: 50%;
    font-family: Abril Fatface;
    font-size: 11rem;
    line-height: 14rem;
  }
}

@media (max-width: 567.95px) {
  .lab .seven {
    margin-top: 0%;
    margin-left: 30%;
    font-family: Abril Fatface;
    font-size: 6rem;
    line-height: 10rem;
  }
}

@media (min-width: 768px) {
  .lab .seven .labs {
    margin-top: -47%;
    margin-left: 26%;
    font-size: 4rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .lab .seven .labs {
    margin-top: -85%;
    margin-left: 34%;
    font-size: 1.6rem;
    line-height: 5rem;
  }
}

@media (min-width: 768px) {
  .lab .seven .di {
    margin-top: -6%;
    margin-left: 26%;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 567.95px) {
  .lab .seven .di {
    margin-top: -25%;
    margin-left: 34%;
    font-size: 1rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) {
  .lab .seven .tff {
    margin-top: -17%;
    margin-left: 38%;
    font-size: 4rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .lab .seven .tff {
    margin-top: -37%;
    margin-left: 46%;
    font-size: 1.6rem;
    line-height: 5rem;
  }
}

@media (min-width: 768px) {
  .lab .seven .fis {
    margin-top: -27%;
    margin-left: 93%;
    font-size: 4rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .lab .seven .fis {
    margin-top: -57%;
    margin-left: 100%;
    font-size: 1.6rem;
    line-height: 7rem;
  }
}

@media (min-width: 768px) {
  .lab .seven .its {
    margin-top: -27%;
    margin-left: 140%;
    font-size: 4rem;
    line-height: 7rem;
  }
}

@media (max-width: 567.95px) {
  .lab .seven .its {
    margin-top: -67%;
    margin-left: 145%;
    font-size: 1.6rem;
    line-height: 7rem;
  }
}

.lab .seven .vektor {
  margin-top: -53%;
  margin-left: -150%;
  width: 70%;
}

.lab .seven .vektor img {
  width: 50%;
}

@media (min-width: 768px) {
  .lab .ins {
    margin-top: 18%;
    margin-left: -68%;
    width: 83vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .ins p {
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: justify;
    text-justify: inter-cluster;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 567.95px) {
  .lab .ins {
    margin-top: 33%;
    margin-left: -62%;
    width: 83vw;
    height: 4.2vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .ins p {
    font-family: Zilla Slab;
    font-size: 0.8rem;
    text-align: justify;
    text-justify: justify;
    margin-left: 2%;
    line-height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  .lab .kse {
    margin-top: 22.5%;
    margin-left: -83.8%;
    width: 83vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#424A63), color-stop(119.01%, rgba(66, 74, 99, 0)));
    background: linear-gradient(90deg, #424A63 0%, rgba(66, 74, 99, 0) 119.01%);
    border: 1px solid #FDE7B6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .kse p {
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: justify;
    text-justify: inter-cluster;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    color: #FDE7B6;
  }
}

@media (max-width: 567.95px) {
  .lab .kse {
    margin-top: 38%;
    margin-left: -83%;
    width: 83vw;
    height: 4.2vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .kse p {
    font-family: Zilla Slab;
    font-size: 0.7rem;
    text-align: justify;
    text-justify: justify;
    margin-left: 2%;
    line-height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  .lab .lmfm {
    margin-top: 27%;
    margin-left: -83.8%;
    width: 83vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#424A63), color-stop(119.01%, rgba(66, 74, 99, 0)));
    background: linear-gradient(90deg, #424A63 0%, rgba(66, 74, 99, 0) 119.01%);
    border: 1px solid #FDE7B6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .lmfm p {
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: justify;
    text-justify: inter-cluster;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    color: #FDE7B6;
  }
}

@media (max-width: 567.95px) {
  .lab .lmfm {
    margin-top: 43%;
    margin-left: -83%;
    width: 83vw;
    height: 4.2vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .lmfm p {
    font-family: Zilla Slab;
    font-size: 0.7rem;
    text-align: justify;
    text-justify: justify;
    margin-left: 2%;
    line-height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  .lab .vibs {
    margin-top: 31.5%;
    margin-left: -83.8%;
    width: 83vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#424A63), color-stop(119.01%, rgba(66, 74, 99, 0)));
    background: linear-gradient(90deg, #424A63 0%, rgba(66, 74, 99, 0) 119.01%);
    border: 1px solid #FDE7B6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .vibs p {
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: justify;
    text-justify: inter-cluster;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    color: #FDE7B6;
  }
}

@media (max-width: 567.95px) {
  .lab .vibs {
    margin-top: 48%;
    margin-left: -83%;
    width: 83vw;
    height: 4.2vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .vibs p {
    font-family: Zilla Slab;
    font-size: 0.7rem;
    text-align: justify;
    text-justify: justify;
    margin-left: 2%;
    line-height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  .lab .fotons {
    margin-top: 36%;
    margin-left: -83.8%;
    width: 83vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#424A63), color-stop(119.01%, rgba(66, 74, 99, 0)));
    background: linear-gradient(90deg, #424A63 0%, rgba(66, 74, 99, 0) 119.01%);
    border: 1px solid #FDE7B6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .fotons p {
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: justify;
    text-justify: inter-cluster;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    color: #FDE7B6;
  }
}

@media (max-width: 567.95px) {
  .lab .fotons {
    margin-top: 53.5%;
    margin-left: -83%;
    width: 83vw;
    height: 4.2vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .fotons p {
    font-family: Zilla Slab;
    font-size: 0.7rem;
    text-align: justify;
    text-justify: justify;
    margin-left: 2%;
    line-height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  .lab .ecs {
    margin-top: 40.5%;
    margin-left: -83.8%;
    width: 83vw;
    height: 3.5vw;
    background: -webkit-gradient(linear, left top, right top, from(#424A63), color-stop(119.01%, rgba(66, 74, 99, 0)));
    background: linear-gradient(90deg, #424A63 0%, rgba(66, 74, 99, 0) 119.01%);
    border: 1px solid #FDE7B6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .ecs p {
    font-family: Zilla Slab;
    font-size: 2.5rem;
    text-align: justify;
    text-justify: inter-cluster;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    color: #FDE7B6;
  }
}

@media (max-width: 567.95px) {
  .lab .ecs {
    margin-top: 59%;
    margin-left: -83%;
    width: 83vw;
    height: 4.2vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .ecs p {
    font-family: Zilla Slab;
    font-size: 0.7rem;
    text-align: justify;
    text-justify: justify;
    margin-left: 2%;
    line-height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.lab .lpkrk {
  margin-top: 45%;
  margin-left: -83.8%;
  width: 83vw;
  height: 3.5vw;
  background: -webkit-gradient(linear, left top, right top, from(#424A63), color-stop(119.01%, rgba(66, 74, 99, 0)));
  background: linear-gradient(90deg, #424A63 0%, rgba(66, 74, 99, 0) 119.01%);
  border: 1px solid #FDE7B6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10%;
}

.lab .lpkrk p {
  font-family: Zilla Slab;
  font-size: 2.5rem;
  text-align: justify;
  text-justify: inter-cluster;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
  color: #FDE7B6;
}

@media (max-width: 567.95px) {
  .lab .lpkrk {
    margin-top: 64%;
    margin-left: -83%;
    width: 83vw;
    height: 4.2vw;
    background: -webkit-gradient(linear, left top, right top, from(#FDE7B6), color-stop(118.48%, rgba(253, 231, 182, 0)));
    background: linear-gradient(90deg, #FDE7B6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424A63;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lab .lpkrk p {
    font-family: Zilla Slab;
    font-size: 0.7rem;
    text-align: justify;
    text-justify: justify;
    margin-left: 2%;
    line-height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}
/*# sourceMappingURL=style.css.map */